//読み込み
@use "../abstracts/variables" as v;

/*----------------------------------------
	base
----------------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  // color: $c_text;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
  "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
  "MS Ｐ明朝", "MS PMincho", serif;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.7;
}

//p要素に"line-height"の値を追加
p {
  line-height: 2;
}

a {
  // color: v.$c_link;
  text-decoration: underline;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.7;
  // color: $c_hover;
}

button {
  display: block;
  width: 100%;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-weight: inherit;
}