//変数読み込み
@use "../abstracts/variables" as v;
@use "../abstracts/mixins"as m;

/* お問合せフォーム
----------------------------------------*/
.contact + .contact {
    margin-top: 10px;
}

/* ラベル
----------------------------------------*/
.input-label + .input-field {
    margin-top: 10px;
}

/* 送信ボタン
----------------------------------------*/
.form__btn {
    text-align: center;
    margin-top: 64px;
}


