//読み込み
@use "../abstracts/variables" as v;
@use "../abstracts/mixins"as m;

/* トップページ リード文
------------------------------------------------------ */
.lead {
    width: 100%;
    background: url(../img/bg.jpg) center center / cover no-repeat;
    padding: 60px 20px;
}

.lead__inner {
    > p + p {
        margin-top: 40px;
    }
}

.lead__title-box {
    font-size: 28px;
    text-align: center;
    span {
        display: inline-block;
        // line-height: 1.5;
        letter-spacing: 0.3em;
    }
}

.lead__text {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-align: left;
}

.lead__end {
    font-size: 22px;
    text-align: left;
}

@include m.small {
    .lead__text {
        text-align: center;
    }
    .lead__end {
        text-align: right;
    }
}

@include m.medium {
    .lead {
        padding: 149px 40px 76px;
    }

    .lead__inner {
        max-width: 900px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: grid;
        align-items: center;
        grid-template-rows: repeat(5,1fr);
        margin-right: auto;
        margin-left: auto;
        gap: clamp(30px, 4vw, 42px);
        > p + p {
            margin-top: 0;
        }
    }

    .lead__title-box {
        text-align: start;
        align-self: end;
        span {
            display: block;
        }
        span:first-of-type {
            margin-top: -2.6em;
        }
    }

    .lead__text {
        text-align: start;
        line-height: 2;
        align-items: flex-start;
    }
}

@include m.large {
    .lead__inner {
        gap: 100px;
    }

    .lead__text {
        line-height: 2.5;
    }
}